body {
    width: 60%;
    margin: auto;
    text-align: center;
}

.menu-button {
    width: 200px;
    height: 40px;
    font-size: unset;
    margin: 4px;
}

.hidden {
    display: none;
}
.find-result {
    background-color: #ddd;
    margin: 4px;
    text-align: left;
    padding: 2px 12px;
}
.request-game-button {
    float: right;
}
.join-button {
    float: right;
    margin-right: 4px;
}
#find-menu {
    width: 400px;
    margin: auto;
}